<easy-tree [dataSource]="fruitDataSource()">
    <ng-template easy-tree-node let-node="node">
        {{node.data.name}}
    </ng-template>
    <ng-template easy-tree-leaf let-node="node">
        <div (click)="showNode(node)">
            {{node.data.name}}
        </div>
    </ng-template>
</easy-tree>

<easy-tree [dataSource]="dataSource()">
    <ng-template easy-tree-node let-node="node">
        <easy-tree-file-sistem-node [type]="node.data.type" [name]="node.data.name" />
    </ng-template>
    <ng-template easy-tree-leaf let-node="node">
        <easy-tree-file-sistem-node [type]="node.data.type" [name]="node.data.name" (click)="showNode(node)" />
    </ng-template>
</easy-tree>

<mat-tree [attr.easyui]="''" [attr.easytree]="''" #tree [dataSource]="dataSource().data"
    [childrenAccessor]="dataSource().childrenAccessor">
    <!-- This is the tree node template for leaf nodes -->
    <mat-tree-node #nodo class="easy-tree-node" *matTreeNodeDef="let node" matTreeNodePadding matTreeNodeToggle [attr.easy-tree-depth]="node.depth">
        <!-- use a disabled button to provide padding for tree leaf -->
        {{node.data.name}}
    </mat-tree-node>
    <!-- This is the tree node template for expandable nodes -->
    <mat-tree-node #nodo class="easy-tree-node" *matTreeNodeDef="let node;when: dataSource().hasChild"
        matTreeNodePadding matTreeNodeToggle [attr.easy-tree-depth]="node.depth">
        <div class="box">
            <div class="line-in.the-box"></div>
        </div>
        {{node.data.name}}
    </mat-tree-node>
</mat-tree>