<easy-tree [dataSource]="fruitDataSource()">
    <ng-template easy-tree-node let-node="node">
        {{node.data.name}}
    </ng-template>
    <ng-template easy-tree-leaf let-node="node">
        <div (click)="showNode(node)">
            {{node.data.name}}
        </div>
    </ng-template>
</easy-tree>

<easy-tree [dataSource]="dataSource()">
    <ng-template easy-tree-node let-node="node">
        <easy-tree-file-sistem-node [type]="node.data.type" [name]="node.data.name" />
    </ng-template>
    <ng-template easy-tree-leaf let-node="node">
        <easy-tree-file-sistem-node [type]="node.data.type" [name]="node.data.name" (click)="showNode(node)" />
    </ng-template>
</easy-tree>