:host {
    display: flex;
    flex-direction: column;
    flex: 1;
    padding: 10px;
    overflow: auto;
}

.easy-ui-content {
    display: contents;
}

.title {
    justify-content: center;
    display: flex;
    align-items: center;
    font-style: italic;
    font-weight: 700;
    font-size: 1.6em;
    border-bottom: 1px solid black;
}

.test-container {
    display: flex;
    // background-color:#2a8c8d;
    justify-content: center;
    align-items: center;
    height: 70vh;
    width: 100%; //più di 100vw fa apparire una scrollbar in basso quindi evitar di far come prima mettend o 115vw
    box-sizing: border-box;
    /* Optional padding */
}