<mat-toolbar color="accent">
    <button [matMenuTriggerFor]="menu" mat-icon-button class="example-icon"
        aria-label="Example icon-button with menu icon">
        <mat-icon>menu</mat-icon>
    </button>
    <span>Test EasyUI</span>
    <button [matMenuTriggerFor]="menuTemi" mat-icon-button class="example-icon"
        aria-label="Example icon-button with menu icon">
        <mat-icon>palette</mat-icon>
    </button>
</mat-toolbar>

<mat-menu #menu="matMenu">
    <button (click)="to('tabella')" mat-menu-item>Tabella</button>
    <button (click)="to('input')" mat-menu-item>Input</button>
    <button (click)="to('buttons')" mat-menu-item>Bottoni</button>
    <button (click)="to('albero')" mat-menu-item>Tree</button>
</mat-menu>

<mat-menu #menuTemi="matMenu">
    @for(tema of temi; track tema) {
    <button [attr.currenttheme]="tema.name === current ? '': null" (click)="cambiaTema(tema)" mat-menu-item>{{tema.name}}</button>
    }
</mat-menu>

<router-outlet></router-outlet>