<easy-toolbar title="Test EasyUI">
    <easy-button l-action [easyMenuTriggerFor]="menu" easy-button-icon class="example-icon">
        menu
    </easy-button>
    <easy-button r-action [easyMenuTriggerFor]="menuTemi" easy-button-icon class="example-icon">
        palette
    </easy-button>
</easy-toolbar>

<easy-menu #menu="easyMenu">
    <easy-menu-item (click)="to('tabella')">Tabella</easy-menu-item>
    <easy-menu-item (click)="to('input')">Input</easy-menu-item>
    <easy-menu-item (click)="to('buttons')">Bottoni</easy-menu-item>
    <easy-menu-item (click)="to('albero')">Tree</easy-menu-item>
    <easy-menu-item (click)="to('resttest')">Rest test</easy-menu-item>
</easy-menu>

<easy-menu #menuTemi="easyMenu">
    @for(tema of temi; track tema) {
    <easy-menu-item [attr.currenttheme]="tema.name === current ? '': null" (click)="cambiaTema(tema)">
        {{tema.name}}
    </easy-menu-item>
    <!-- <easy-button [attr.currenttheme]="tema.name === current ? '': null" (click)="cambiaTema(tema)" mat-menu-item>{{tema.name}}</easy-button> -->
    }
</easy-menu>

<router-outlet></router-outlet>