:host {
    position: fixed;
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;

    mat-toolbar {
        display: flex;
        justify-content: space-between;
    }

}

[currenttheme] {
    background: #3c5ba9;
    color: white;
}

[currenttheme]:hover {
    background: #3c5ba9;
    color: inherit;
}