:host {
    flex: 1;
    flex-direction: column;
    gap: 15px;
    display: flex;
    padding: 15px;

    .buttons-container {
        display: flex;
        gap: 15px;
        justify-content: space-between;

        button {
            border: none;
            border-radius: 5px;
            padding: 10px;
            background-color: #3c5ba9;
            color: white;
            cursor: pointer;
        }

        button {
            flex: 1;
        }
    }

    .checkbox_container {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        gap: 10px;
    }


    easy-table {
        width: 100%;

        .menu-icon {
            /* da fare un componente per il tasto di una tabella */
            --mat-icon-color: red;
            cursor: pointer;
        }
    }
}