<easy-table-paginator #paginator [pageSizeOptions]="[7,1,2,3,4,5,6,8,9,10]"></easy-table-paginator>

<div>

    <easy-table [paginator]="paginator.paginator()" [easyTableDataSource]="dataSourceWithPagination"
        [footerSource]="footerSource" easyTableSelectableRow [easyTableSelection]="initialSelection()"
        (easyTableRowSelection)="grab($event)" [easyTableRowColorFN]="rowColorFN()">

        <easy-table-column name="counter_riga" easyTableColumnOnlyNecessarySpace>
            <ng-template easy-table-column-header></ng-template>
            <ng-template easy-table-column-cell let-rowCounter="rowCounter">
                <span easyUIFullFill flexCenter>{{rowCounter}}</span>
            </ng-template>
            <ng-template easy-table-column-footer let-value="value" let-footer="footer">{{ value }}</ng-template>
        </easy-table-column>

        <easy-table-column name="menu_riga" easyTableColumnOnlyNecessarySpace sticky>
            <ng-template easy-table-column-header></ng-template>
            <ng-template easy-table-column-cell let-value="value" let-ri="rowIndex" let-rc="rowCounter">
                <div easyUIFullFill flexCenter easyUIMouseOrTouchEventTrap>
                    <mat-icon (click)="grab($event, ri, rc)" class="menu-icon" aria-hidden="false" aria-label="menu"
                        fontIcon="menu"></mat-icon>
                </div>
            </ng-template>
            <ng-template easy-table-column-footer let-value="value" let-footer="footer">{{ value }}</ng-template>
        </easy-table-column>

        <!-- Colonna calcolata -->
        <easy-table-column name="nome_cognome" easyTableSelectableCells sticky>
            <ng-template easy-table-column-header>Nominativo</ng-template>
            <ng-template easy-table-column-cell let-row="row">{{ row.nome }} {{ row.cognome
                }}</ng-template>
            <ng-template easy-table-column-footer let-value="value" let-footer="footer">{{ value }}</ng-template>
        </easy-table-column>

        <easy-table-column easy-column-sortable name="nome" easyTableSelectableCells>
            <ng-template easy-table-column-header>Nome</ng-template>
            <ng-template easy-table-column-cell let-value="value" let-ri="rowIndex" (click)="grab($event)">{{ value
                }}</ng-template>
            <ng-template easy-table-column-footer let-value="value" let-footer="footer">{{ value }}</ng-template>
        </easy-table-column>

        <easy-table-column name="cognome">
            <ng-template easy-table-column-header>Cognome</ng-template>
            <ng-template easy-table-column-cell let-value="value">{{ value }}</ng-template>
        </easy-table-column>

        <easy-table-column easy-column-sortable name="varie" easy-column-string>
            <ng-template easy-table-column-header>Varie</ng-template>
        </easy-table-column>

        <easy-table-column name="test" headerLabel="Test" easy-column-string></easy-table-column>

        <easy-table-column easy-column-sortable name="numero" headerLabel="Numero" easy-column-number
            easyTableSelectableCells [easyTableCellColorFN]="cellColorFN()" [precision]="2" stickyEnd></easy-table-column>
    </easy-table>

</div>